<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yltx.modulewd">

    <application>
        <activity
            android:name=".MainActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".borrow.detail.BorrowDetailActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".borrow.lsit.ListActivity"></activity>
    </application>

</manifest>